@{
    ViewBag.Title = "Index";
    if (ViewData["id"].ToString() == "1")
    {
        Layout = "~/Views/Shared/_Home.cshtml";
    }
    else if (ViewData["id"].ToString() == "2")
    {
        Layout = "~/Views/Shared/Admin.cshtml";
    }
    else if (ViewData["id"].ToString() == "3")
    {
        Layout = "~/Views/Shared/Normal.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/CSR.cshtml";
    }
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-spinner fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-center">
                            <h3>Total Task</h3>
                        </div>
                        <div class="col-xs-3 text-right">
                            <div class="huge">
                                @Html.Label(ViewData["todays"].ToString())
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" onclick="Dashboard('task_added',0)">

                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-pencil-square-o fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-center">
                            <h3>Open Task</h3>
                        </div>
                        <div class="col-xs-3 text-right">
                            <div class="huge" >
                                @Html.Label(ViewData["unassigned"].ToString())</div>
                        </div>
                    </div>
                </div>
                <a href="#" onclick="Dashboard('task_unassign', 0)">

                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-hand-pointer-o fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-center">
                            <h3>Today's Task</h3>
                        </div>
                        <div class="col-xs-3 text-right">
                            <div class="huge">@Html.Label(ViewData["newly"].ToString())</div>

                        </div>
                    </div>
                </div>
                <a href="#" onclick="Dashboard('task_today', 0)">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-spinner fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-center">
                            <h3>Total Ticket</h3>
                        </div>
                        <div class="col-xs-3 text-right">
                            <div class="huge">
                             @Html.Label(ViewData["todayst"].ToString())
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" onclick="Dashboard('tick_added', 1)">

                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-pencil-square-o fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-center">
                            <h3>Open Ticket</h3>
                        </div>
                        <div class="col-xs-3 text-right">
                            <div class="huge">
                               @Html.Label(ViewData["unassignedt"].ToString())
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" onclick="Dashboard('tick_unassign', 1)">

                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-hand-pointer-o fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-center">
                            <h3>Today's Ticket</h3>
                        </div>
                        <div class="col-xs-3 text-right">
                            <div class="huge">
                                @Html.Label(ViewData["newlyt"].ToString())
                            </div>

                        </div>
                    </div>
                </div>
                <a href="#" onclick="Dashboard('tick_today', 1)">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- /.row -->
</div>
<script type="text/javascript">

    function Dashboard(val,id) {
        $.ajax({
            url: '/api/DashboardApi/'+val,
            type: 'POST',       
            success: function (data) {
                if (id == 0)
                    window.location.href = '/Task/ViewTask';
                else
                    window.location.href = '/Ticket/ViewTicket';
            },
            error: function () { console.log("Code Not Ok!"); }
        });
    }
</script>