<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/demo.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- Codrops top bar -->
        @RenderBody();
      </div>
    
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
